<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>
        <%= user.username %>'s Events
    </title>
</head>

<body>
        <%- include('../partials/_navbar.ejs') %>

        <h1>Look at all the scrumdiddlyumptious  events on your calendar, <%= user.username %>!</h1>
        <button type="submit"><a href="/users/<%=user._id%>/events/new">Add event</a></button>

        <ul>
            <% calendar.forEach(event=>{ %>
                <li>
                    <a href="/users/<%= user._id %>/events/<%= event._id %>">
                        <%= event.name %>
                    </a>
                </li>
                <% }) %>
        </ul>


</body>

</html>