<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>
        <%= user.username %>'s Events
    </title>
</head>

<body>
        <%- include('../partials/_navbar.ejs') %>
<div class="views-header">
        <p>Look at all the scrumdiddlyumptious  events on your calendar, <%= user.username %>!</p>
        <a class=add href="/users/<%=user._id%>/events/new">Add event</a>

</div>


            <div class="all-items">
                    <% calendar.forEach(event=>{ %>
                
                    <a class="individual-item" href="/users/<%= user._id %>/events/<%= event._id %>">
                        <%= event.name %>
                    </a>
                
                <% }) %>
            </div>


</body>

</html>