<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>  Edit 
    <%= addedEvent.name %>
  </title>
</head>

<body>
  <%- include('../partials/_navbar.ejs') %>

  <div class="sub-header">
    <p>Spit spot, things have changed! Edit <%= addedEvent.name %></p>
  </div>

    <div class="container">

      <form action="/users/<%= user._id %>/events/<%= addedEvent._id %>?_method=PUT" method="POST">

        <label for="name">Name*:</label>
        <input type="text" name="name" id="name" value="<%= addedEvent.name%>" required />

        <label for="location">Location*: </label>
        <input type="text" name="location" id="location" value="<%= addedEvent.location %>" required />

        <label for="date">Date*:</label>
        <input type="text" name="date" id="date" value="<%= addedEvent.date %>" required />

        <label for="theme">Theme: </label>
        <input type="text" name="theme" id="theme" value="<%= addedEvent.theme %>" />

        <label for="guests">Guests' names: </label>
        <input type="text" name="guests" id="guests" value="<%= addedEvent.guests %>" />

        <label for="items">Items*: </label>
        <textarea class="form-textarea" name="items" id="items" value="<%= addedEvent.items %>"></textarea>

        <label for="notes">Notes: </label>
        <textarea class="form-textarea" name="notes" id="notes" value="<%= addedEvent.notes %>"></textarea>

        <button class="form-button" type="submit">Save changes</button>

      </form>

      <form action="/users/<%= user._id %>/events/<%= addedEvent._id %>?_method=DELETE" method="POST">
        <button class="form-button" type="submit">Delete this event</button>
      </form>

    </div>

</body>

</html>