<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>    
        <%= addedEvent.name %>  
    </title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>

        <h1><%= addedEvent.name %></h1>

        <p>Location: <%= addedEvent.location %></p>

        <p>Date: <%= addedEvent.date %></p>

        <% if (addedEvent.theme) { %>
        <p>Theme: <%= addedEvent.theme %></p>
        <% } %>

        <p>Items <%= addedEvent.items %></p>

        <% if (addedEvent.guests) { %>
        <p>Guest list: <%= addedEvent.guests %></p>
        <% } %>

        <% if (addedEvent.notes) { %>
        <p>Notes: <%= addedEvent.notes %></p>
        <% } %>

          
          <a href="/users/<%= user._id %>/events/<%= addedEvent._id %>/edit">
        <p>Edit this event</p> 
</body>

</html>