<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="stylesheet" href="/stylesheets/style.css" />

    <title>
        <%= user.username %>'s Bag
    </title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
        <div class="all-items-body">

            <div class="views-header">

                <h1>Look at all the magical things in your bag, <%= user.username %>!</h1>
                <button  class=button type="submit"><a class=button href="/users/<%=user._id%>/items/new">Add item</a></button>
            </div>

            <div class="all-items">
          
                <% catalog.forEach(item=>{ %>
                        <a  class="individual-item" href="/users/<%= user._id %>/items/<%= item._id %>">
                            <%= item.name %>
                        </a>
                    <% }) %>
                
            </div>

        </div>
</body>

</html>