<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/style.css" />

    <title>
        <%= user.username %>'s Bag
    </title>
</head>

<body>
        <%- include('../partials/_navbar.ejs') %>

        <h1>Look at all the magical things in your bag, <%= user.username %>!</h1>
        <button type="submit"><a href="/users/<%=user._id%>/items/new">Add item</a></button>

     <ul>
            <% catalog.forEach(item=>{ %>
                <li>
                    <a href="/users/<%= user._id %>/items/<%= item._id %>">
                        <%= item.name %>
                    </a>
                </li>
                <% }) %>
        </ul>


</body>

</html>