<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>   Edit 
        <%= addedItem.name %>  
    </title>
</head>
<body>

        <h1>Edit <%= addedItem.name %></h1>

        <p>Location: <%= addedItem.location %></p>

        <% if (addedItem.quantity) { %>
        <p>Quantity: <%= addedItem.quantity %></p>
        <% } %>

         <% if (addedItem.notes) { %>
        <p>Notes: <%= addedItem.notes %></p>
        <% } %>

        

</body>

</html>