<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <title>   Edit 
        <%= addedItem.name %>  
    </title>
</head>
<body>
        <%- include('../partials/_navbar.ejs') %>

        <form action="/users/<%= user._id %>/items/<%= addedItem._id %>?_method=PUT" method="POST">

        <h1>Edit <%= addedItem.name %></h1>

        <p>Location: <%= addedItem.location %></p>

        <% if (addedItem.quantity) { %>
        <p>Quantity: <%= addedItem.quantity %></p>
        <% } %>

         <% if (addedItem.notes) { %>
        <p>Notes: <%= addedItem.notes %></p>
        <% } %>

        <button type ="submit">Update item</button>
        </form>

</body>

</html>