<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <title> Edit
        <%= addedItem.name %>
    </title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>

        <div class="sub-header">
            <p>Spit spot, things have changed! Edit <%= addedItem.name %>
            </p>
        </div>

        <div class="container">

            <form action="/users/<%= user._id %>/items/<%= addedItem._id %>?_method=PUT" method="POST">

                <label class=label for="item">Name*:</label>
                <input type="text" name="name" id="name" value="<%= addedItem.name %>" />

                <label class=label for="location">Location*: </label>
                <input type="text" name="location" id="location" value="<%= addedItem.location %>" />

                <label class=label for="quantity">Quantity:</label>
                <input type="number" name="quantity" id="quantity" value="<%= addedItem.quantity %>" />

                <label class=label for="notes">Notes: </label>
                <textarea class="form-textarea" name="notes" id="notes" value="<%= addedItem.notes %>"></textarea>

                <button class="form-button" type="submit">Save changes</button>
            </form>

            <form action="/users/<%= user._id %>/items/<%= addedItem._id %>?_method=DELETE" method="POST">
                <button class="form-button" type="submit">Delete this item</button>
            </form>


        </div>
</body>

</html>