<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>    
        <%= addedItem.name %>  
    </title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>

        <h1><%= addedItem.name %></h1>

        <p>Location: <%= addedItem.location %></p>

        <% if (addedItem.quantity) { %>
        <p>Quantity: <%= addedItem.quantity %></p>
        <% } %>

         <% if (addedItem.notes) { %>
        <p>Notes: <%= addedItem.notes %></p>
        <% } %>
        
        <form action="/users/<%= user._id %>/items/<%= addedItem._id %>?_method=DELETE"
        method="POST">
          <button  type="submit">Delete this item</button>
        </form>
          
          <a href="/users/<%= user._id %>/items/<%= addedItem._id %>/edit">
        <p>Edit this item</p> 
        </a>

        

</body>

</html>